<!--<h1>{{cours.titre}}</h1>-->

<style>
    .container{
        padding: 40px;
    }
</style>

<div class="container">
    
        
        <div class="row">
            <div class="titre"><h1>TABLE DES MATIERES</h1>
                <ul class="list-group">
                  <li class="list-group-item disabled"><span><a href="">Chapitre 1: Les Collecteurs</a></span></li>
                  <li class="list-group-item"><span><a href="">chapitre 2: Les Threads</a></span></li>
                  <li class="list-group-item"><span><a href="">chapitre 3: Bases de données</a></span></li>
                  <li class="list-group-item"><span><a href="">chapitre 4: Le Graphismes</a></span></li>
                  <li class="list-group-item"><span><a href="">chapitre 5: Les Interfaces</a></span></li>
                  <li class="list-group-item"><span><a href="">chapitre 6: Les Composants</a></span></li>
                </ul>
            </div>
           
        </div>
        <div class="text">
            <ul>
                <li>
                  <p>Enseignant: Steve Mandela Wandji</p>
                  <p>Maitre de Conférence</p>
                  <p>Professeur à l'université de Nantes</p>
                </li>
            </ul>
        </div>
        <div class="text1">
                <img src="C:\Users\Public\Pictures\Sample Pictures\Koala.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="text2">
           
            <form action="" method="POST" role="form" id="main-form">
                    <legend>
                            <ul>
                               <li>SVP repondez a ces differentes questions afin de mieux nous aidez dans la preparation des futurs cours</li>
                            </ul>
                    </legend>
            <div class="form-group">
                    <label for="">Questions 1:</label>
                    <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                    <label for="">Questions 2:</label>
                    <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                    <label for="">Questions 3:</label>
                    <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                    <label for="">Questions 4:</label>
                    <input type="text" class="form-control" id="" placeholder="">
            </div> <div class="form-group">
                    <label for="">Questions 5:</label>
                    <input type="text" class="form-control" id="" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary" id="valider">Envoyer</button>
            <button type="reset" class="btn btn-warning" id="annuler">Annuler</button>
            </form>
        </div>

      
    

</div>
