<div class="container">
    <div class ="row">
        <div class="col-md-12">
            <app-navbar></app-navbar>
           <a routerLink="cours">cours</a>
            <!-- <a routerLink="cours/:id">cours</a> -->
            <a routerLink="profile">profile</a>
            <a routerLink="acceuil">acceuil</a>
           <!-- <a routerLink="/cours-details">cours-details</a>-->
            <a routerLink="authentification">authentification</a>
            <a routerLink="examen">examen</a>
            <a routerLink="articles">articles</a>
        </div>
    </div>
</div>





<router-outlet>
</router-outlet>


<app-footer></app-footer>
