<p>
    acceuil works!
  </p>
<!--
<ul>
  <li *ngFor="let cour of cours"><span id="font">Titre:</span> {{cour.titre}}  <br>
    Enseignant: {{cour.Enseignant}} <br>
    <ol>
      <li *ngFor="let com of cour.commentaire">commentaire: {{com.contenu}} <br>
          Note: {{com.note}}
      </li>
    </ol>
  </li>
</ul>

-->
<div class="container">
  <div class="jumbotron">
       <h1>BIENVENU SUR CE SITE</h1>
       <h2>Angular</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
        status
    </div>
    <div class="panel-body">
        <h3>{{title}}</h3>
    </div>

  </div>
</div>